<div class="header">
   <h1 class="logo">М-скло</h1>
   <input type="checkbox" id="chk">
   <label for="chk" class="show-menu-btn">
     <i class="fas fa-ellipsis-h"></i>
   </label>

   <ul class="menu">
     <li><a href="{% url 'main' %}#element">главана</a></li>
     <li><a href="{% url 'main' %}#element1">услуги</a></li>
     <li> <a href="{% url 'main' %}#element2">продукция</a></li>
     <li><a href="{% url 'main' %}#element3">контакти</a></li>
     <label for="chk" class="hide-menu-btn">
       <i class="fas fa-times"></i>
     </label>
   </ul>

 </div>
